<section class="contact" id="contact">

  <div class="container min-vh-100">

      <div class="row justify-content-center">
        <h1 class="heading"> Make an Appointment </h1>



          <div class="col-md-10" data-aos="flip-down">

              <form action="">

                  <div class="inputBox">
                      <input type="text" placeholder="full name">
                      <input type="number" placeholder="phone">
                  </div>

                  <div class="inputBox">
                      <input type="email" placeholder="your email">
                      <select name="" id="">
                          <option value="" disabled selected> make an appointment </option>
                          <option value="09-11 am">09-11 am</option>
                          <option value="11-03 pm">11-03 pm</option>
                          <option value="03-06 pm">03-06 pm</option>
                          <option value="06-09 pm">06-09 pm</option>
                      </select>
                  </div>

                  <textarea name="" id="" cols="30" rows="10" placeholder="message ( optional )"></textarea><br>


                  <a href =""> <button class="appointment-btn scrollto">Make an Appointment </button></a>

              </form>

          </div>

      </div>
    </div>

</section>


<br>
<br>
