<section id="services" class="services">
  <div class="container">
      <div class="section-title" >
          <h1 class="heading"> Services </h1>
          <!-- <h1 class ="text-center">Services</h1> -->
          <p>

          </p>
      </div>
<div class="row">
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="icon-box">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4><a href="">Regular Checkup</a></h4>
          <p>You can book health checkup online at your nearest centre as Indus Health Plus have top hospitals part of checkup centre network in allover India </p>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
      <div class="icon-box">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4><a href="">Medicine</a></h4>
          <p>Hospital medicine is a medical specialty that exists in some countries as a branch of internal or family medicine, dealing with the care of acutely ill hospitalized patients</p>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
      <div class="icon-box">
          <div class="icon"><i class="fas fa-hospital-user"></i></div>
          <h4><a href="">Pharmeologist</a></h4>
          <p> The assurance of the quality of its services and products dispensed, strictly following the hospital’s control program for drug dispensing.</p>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
          <div class="icon"><i class="fas fa-dna"></i></div>
          <h4><a href="">Blood Test</a></h4>
          <p>Sample collection from Home by our Well Trained Technicians . Get 100% Accurate reports. View or download the report online. </p>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
          <div class="icon"><i class="fas fa-wheelchair"></i></div>
          <h4><a href="">Disabled Person</a></h4>
          <p>Risk of disability. Barguna are where fundamental needs hospital services are totally deprived off for persons with disabilities.</p>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
          <div class="icon"><i class="fas fa-notes-medical"></i></div>
          <h4><a href="">Health Post</a></h4>
          <p>are By providing uplifting care during recovery at home, we can ease your loved one’s transition after discharge from a hospital or time at a rehabilitation facility. </p>
      </div>
  </div>


</div>



  </div>

</section>

<br>
<br>
