
.w3-container{

  height: auto;
  margin:1rem 0rem;
  overflow: hidden;
column-gap: normal;
position: relative;
text-align: justify;
  z-index: 0;
  border-radius: .5rem;
  z-index: 0;
}

.w3-container p{


  text-align: justify;
}




.heading{
  text-align: center;
  font-size: 4rem;
  padding:0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color:var(--black);
}
.checked {
  color: orange;
}



.counter .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:2rem 0;
}

.counter .box-container .box{
  margin:1rem 3rem;
  text-align: center;
}

.counter .box-container .box i{
  color: #5C4DB1;
  font-size: 4rem;
}

.counter .box-container .box span{
  color:var(--black);
  font-size: 2rem;
  display: block;
  padding:1rem 0;
}

.counter .box-container .box h3{
  color:#666;
}
