<section id="services" class="services">
  <div class="container">
      <div class="section-title" >
          <h1 class="heading"> Patient reviews </h1>
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <title>W3.CSS</title>

           <div class="row">


            <div class="w3-container">
              <div class="w3-card-4" style="width:50%;">
                <header class="w3-container w3-violet">
                  <h1>Rajnish Panday</h1>jan 5, 2021
                </header>

                <div class="w3-container">
                  <p>Recently visited health check up department of HealthCare hospital for a whole body check up.
                    The entire process from check into the end was seamless.The staff at the health check up department was courteous,
                    helpful and very attentive.I would highly recommend this hospital to anyone looking for something similar services.</p>
                </div>

                <footer class="w3-container w3-blueviolet">
                  <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <img src="images/p4.jpg" alt="">
                  <h5></h5>
                </footer>
              </div>
            </div>
          </div>

          <div class="row">


            <div class="w3-container">
              <div class="w3-card-4" style="width:50%;">
                <header class="w3-container w3-violet">
                  <h1>Alice jonz</h1>jan 7, 2021
                </header>

                <div class="w3-container">
                  <p>The services in HealthCare Hospital are very good. I recommend another patient to come to this hospital. Everything in hospital is good.
                    I recommend to content with patient by phone or mail after we go to our country.</p>
                </div>

                <footer class="w3-container w3-blueviolet">
                  <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>

                  <h5></h5>
                </footer>
              </div>
            </div>
          </div>
          <div class="row">


            <div class="w3-container">
              <div class="w3-card-4" style="width:50%;">
                <header class="w3-container w3-violet">
                  <h1>Jenifer Paul</h1>jan 10, 2021
                </header>

                <div class="w3-container">
                  <p>I would like to thank you, with the deepest gratitude for you excellent care of me during my illness with dengue fever.
                    I feel truly overwhelmed by your kindness.I am so relieved and thankful that my insurance company shifted me under your care instead.</p>
                </div>

                <footer class="w3-container w3-blueviolet">
                  <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>

                  <h5></h5>
                </footer>
              </div>
            </div>
          </div>



































      <section class="counter">

        <div class="container">

            <div class="box-container">

                <div class="box" data-aos="fade-up">
                    <i class="fas fa-hospital"></i>
                    <span>120+</span>
                    <h3>Hospitals</h3>
                </div>

                <div class="box" data-aos="fade-up">
                    <i class="fas fa-users"></i>
                    <span>100+</span>
                    <h3>staff</h3>
                </div>

                <div class="box" data-aos="fade-up">
                    <i class="fas fa-smile"></i>
                    <span>1200+</span>
                    <h3>happy patients</h3>
                </div>

                <div class="box" data-aos="fade-up">
                    <i class="fas fa-procedures"></i>
                    <span>130+</span>
                    <h3>bed facility</h3>
                </div>

            </div>

        </div>

    </section>


<br>
<br>




